small.light {
    color: grey;
}

.flash {
    -moz-animation: flash 2s ease-out;
    -moz-animation-iteration-count: 1;

    -webkit-animation: flash 2s ease-out;
    -webkit-animation-iteration-count: 1;

    -ms-animation: flash 2s ease-out;
    -ms-animation-iteration-count: 1;

    animation: flash 2s ease-out;
    animation-iteration-count: 1;
}

.item {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.item > .sep {
    border: 1px 0px 0px 0px solid black;
}

/* Bulma Overrides */
.section {
    padding: 1rem 1.5rem;
}

.is-divider {
    margin: 1rem 0;
}

@keyframes flash {
    0% {
        background-color: rgb(255, 56, 96);
    }

    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes flash {
    0% {
        background-color: rgb(255, 56, 96);
    }

    100% {
        background-color: transparent;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: rgb(255, 56, 96);
    }

    100% {
        background-color: transparent;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: rgb(255, 56, 96);
    }

    100% {
        background-color: transparent;
    }
}